<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:name=".Util.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_infotani"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_infotani_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".PengaturanActivity"></activity>
        <activity
            android:name=".KonfirmasiPesananActivity"
            android:parentActivityName=".RiwayatPesanActivity" />
        <activity android:name=".PasswordBaruActivity" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".FormTanyaActivity" />
        <activity
            android:name=".RiwayatPesanActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".LapPesanActivity" />
        <activity android:name=".LapPanenActivity" />
        <activity android:name=".FormPanenActivity" />
        <activity android:name=".DataPetaniActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>